.astro
.DS_Store
.eslintcache
.idea
.next
.turbo
.vercel
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
.vscode-test
.vscode-test-web
*.local
*.log
*.pem
*.tsbuildinfo
build
coverage
dist
dist-ssr
lerna-debug.log*
logs
next-env.d.ts
node_modules
npm-debug.log*
out
pnpm-debug.log*
releases
yarn-debug.log*
yarn-error.log*
