---
const authorNames = Astro.locals.starlightBlog.authors
  .map((author) => author.name)
  .sort((a, b) => a.localeCompare(b, Astro.currentLocale))

const authorList = new Intl.ListFormat(Astro.currentLocale, {
  style: 'long',
  type: 'conjunction',
}).format(authorNames)
---

<p><b>Authors:</b> {authorList}</p>
